@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

nav {
  width: 100%;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background: linear-gradient(
    109.6deg,
    rgb(255, 194, 48) 11.2%,
    rgb(255, 124, 0) 100.2%
  );
  top: 0%;
  z-index: 10;
  box-shadow: 0 0 10px 0 whitesmoke;
}

nav h1 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Open sans", sans-serif;
  /* color: #e7f6f2; */
  color: black;
  cursor: pointer;
}

nav main {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

nav a {
  /* color: #e7f6f2; */
  color: black;
  margin: 1rem;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

nav a:hover {
  /* color: #a5c9ca; */
  color: white;
  transition: 0.5s ease-in-out;
}
